@charset 'utf-8';

.m-user {
    &-info {
        .appbar {
            position: fixed !important;
            top: 0;
        }
        .list {
            margin-top: 100px;
            margin-left: 5%;
        }
        .btn {
            display: flex;
            justify-content: space-around;
        }
    }
}