@charset 'utf-8';

.m-laboratory {
    &-list {
        .appbar {
            position: fixed !important;
            top: 0;
        }
        .nodata {
            margin-top: 80%;
            color: #00BCD4;
            text-align: center;
        }
    }
}